@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@radix-ui/themes/styles";

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}
